*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    width: 100vw;
    background-color: rgba(7,212, 250, 100);
    position:relative;
    height: 100%;
 }
 .logo{
    margin-top: 20px;
    margin-left:40px ;
 }
 .container{
    margin-top: 20px;
    display: flex;
     
    margin-bottom: 57px;
    align-items: center;

 }
 .innerdiv{
    margin-left: 70px;
 }
 .div1{
    width: 600px;
    height: 500px;
    padding-left: 70px;
    padding-right:71.92px ;
    margin-top: 30px;
    margin-left: 250px;
    background: rgba(217, 217, 217, 0.1);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 25px  ;
    box-shadow: -44.97px 44.97px 44.97px 0px rgba(255, 255, 255, 0.1) inset;

box-shadow: 44.97px -44.97px 44.97px 0px rgba(165, 165, 165, 0.1) inset;

backdrop-filter: blur(89.93333435058594px);
z-index: 2;

     
 

 }
 .div2{
    margin-top: 30px;
    margin-left: 100px;
 }

 input[type="text"],input[type="email"],input[type="Number"]
  {
    width: 450px;
height: 36px;
margin-bottom:10px ;
color:  rgba(0, 0, 0, 0.54);
/* box-shadow: 2px solid black; */
border: none; /* Remove all borders */
border-bottom: 1px solid #000; /* Add only a bottom border */
       
outline: none; /* Remove the default focus outline */
    /* background-color: rgba(18, 168, 228, 0.973) ;  Match the input's background to the page  */
    background-color: transparent;
    
 
 
padding-left: 20px;
 

 


 }
 input:focus,input[type="tel"]:focus {
    border-bottom: 2px solid #101112; /* Highlight the border on focus */
      /* Slightly lighter background on focus */
  }
  

  

 input[type="tel"]{
    width: 330px;
    height: 38px;
    border: none; /* Remove all borders */
    border-bottom: 1px solid #000; /* Add only a bottom border */
        
    outline: none; /* Remove the default focus outline */
    
    margin-bottom:10px ;
    /* box-shadow: 2px solid rgb(31, 31, 31); */
    padding-left: 20px;
     
     color:  rgba(0, 0, 0, 0.54);
     
    background-color: transparent; /* Match the input's background to the page */
      /* Smooth transitions */
    



 }

  input[type="checkbox"]{
    width: 26.33px;
    height: 26px;
    background-color: rgba(76, 175, 80, 1);
    margin-right: 10px;
     

 

  }

  input[type="button"]{
    width:100px;
    height: 38px;
    margin-left: 15px;
    border-radius: 8px;
    border: none;
    background: rgba(76, 175, 80, 1);
    color: white;

 

  }

  .div1-1{
    margin-top: 12px;
    display: flex;

     gap: 160px;
     margin-bottom: 40px;

  }
  .div1-2{
    display: flex;
    align-items:flex-start;
    

  }



 a{
    font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
text-align: left;
text-decoration-line: underline;
text-decoration-style: solid;
text-underline-position: from-font;
text-decoration-skip-ink: auto;
color:rgba(81, 99, 106, 0.87);


 }
 a:focus{
   color:rgba(15, 15, 16, 0.87);

 }
 .terms{
    font-family: Lato;
font-size: 17px;
font-weight: 400;
line-height: 21.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-right:70px;

 }
 span{
    font-family: Lato;
font-size: 17px;
font-weight: 400;
line-height: 21.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:rgba(0, 0, 0, 0.708);

 }
 #Continue{
    width: 100px;
    height: 40px;
    
    border-radius: 19.5px  ;
    color:white ;
    background: rgba(76, 175, 80, 1);
    border: none;
}

 


