.copyrightSection{
    width: 100%;
   height: 82px;
   opacity: 0px;
   background: rgba(217, 217, 217, 0.1);
   border: 2px solid rgba(255, 255, 255, 1);
   box-shadow: -89.13px 89.13px 89.13px 0px rgba(255, 255, 255, 0.1) inset;
   box-shadow: 89.13px -89.13px 89.13px 0px rgba(165, 165, 165, 0.1) inset;
   backdrop-filter: blur(178.26666259765625px);
   display: flex;
   align-items: center;
   
   
   justify-content: center;
   

  }


  .copyrightText{
    font-family: Poppins;
      font-size: 30px;
      font-weight: 500;
      line-height: 45px;
      text-align: center;
  }


  .privacyPolicy{
    font-family: Poppins;
font-size: 30px;
font-weight: 700;
line-height: 45px;
text-align: center;


  }
  .link{
    text-decoration: none;
  }